.e1
{
    background-color:#ff0000;
}

.e2
{
    background-color:#0000ff;
}

.e3
{
    background-color:#3cb371;
}

.e4
{
    background-color:#ee82ee;
}

.e5
{
    background-color:#ffa500;
}

.e6
{
    background-color:#6a5acd;
}

p 
{
    color: blueviolet;
}