.outer-div{
    height : 250px;
    width : 30%;
    background-color: aqua;
    border-color: blue;    
}

.inner-div{
    height: 250px;
    width: 80%;
    background-color:coral;
}

.thing2{
    height: 150px;
    width: 25%;
    background-color:cadetblue;
}