@keyframes moving_element {
    from{
        left:0%;
    }
    to{
        left:80%;
    }
}

@keyframes positing_element {
    0%{
        position:absolute;
        left:100px;
        left:100px;
    }

    50%{
        position:absolute;
        left:100px;
        left:600px;
    }
    100%{
        position:absolute;
        left:100px;
        left:900px;
    }
}