*{
    margin:0px;
    padding:0px;
}

h2{
    color: blue;
    text-align: center;
    text-decoration: underline;
}

.container-div{
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    border-radius: 50%; 
    position: relative;
    top: 100px;
    animation-name: container_moving;
    animation-duration: 3s;
    animation-iteration-count: 4;
}

@keyframes container_moving {
    from{
        position: absolute;
        top: 100px;
        left: 100px;
    }
    to{
        position: absolute;
        top: 100px;
        left: 600px;
    }
}

