*{
    margin:0px;
}

h2{
    color: blue;
    text-decoration: underline;
    margin-bottom: 30px;
}

.main-card{
    width:250px;
    height:350px;
    background-color:brown;
    position:relative;
    top:150px;
    left:220px;
    border-radius: 10px;
    perspective: 1000px;
}

.front-side-card, .back-side-card{
    position:absolute;
    top:0px;
    bottom:0px;
    width:100%;
    height:100%;
    border-radius: 10px;
    transition: 2s;
    color: #fff;
    backface-visibility: hidden;
}

.front-side-card{
    background-color:cadetblue;
}

.back-side-card{
    background-color:darkgreen;
    transform:rotate(180deg);
}

.front-side-card:hover{
    transform:rotateY(180deg);
}

.back-side-card{
    transform:rotateY(0deg);
}