*{
    margin: 0px;
}

h2{
    color:blue;
    text-decoration:underline;
    margin-bottom: 30px;
}

.inset-clipped-area{
    height: 500px;
    width: 400px;
    background-image: url(https://picsum.photos/400/500);
    /* border: 25px solid; */
    /* clip-path: inset(15px 50px); top-bottom is 15px and right-left is 50px  */
    clip-path: inset(15px 50px 10px 20px round 10px 20px);
}