*{
    margin: 0px;
}

h2{
    color:blue;
    text-decoration:underline;
    margin-bottom: 30px;
}

.circle-clipped-area{
    height: 500px;
    width: 400px;
    background-image: url(https://picsum.photos/400/500);
    /* clip-path: circle(120px); */
    /* clip-path:circle(90px at 200px 100px); */
    clip-path:circle(closest-side at 200px 100px);
    /* clip-path:circle(farthest-side at 200px 100px); */
}