body{
    margin: 0px;
}

h2{
    color:blue;
    text-decoration: underline;
    margin-bottom: 30px;
}

/* horizontal wraping */
.flex-container{
    border: 5px solid;
    display:flex;
    /* display:inline-flex; */
    flex-direction:row;
    /* flex-direction:column; */
    /* flex-direction:column-reverse; */
    /* flex-direction:row; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    flex-wrap: wrap;    
    /* For Vertical Wrapping- use the 'height' and flex-direction:column is need */
    height: 400px;
    /* justify-content:flex-start; */
    /* justify-content:flex-end; */
    /* justify-content:space-between; */
    /* justify-content:space-around; */
    /* justify-content:space-evenly; */
    /* justify-content:center; */
    /* align-items:stretch; */
    /* align-items:flex-start; */
    /* align-items:flex-end; */
    /* align-items:center; */
    align-items:baseline;
}

.flex-items{
    color:gainsboro;
    font-size:1.5rem;
    padding:1rem;
    text-align:center;
}

.item-1{
    background-color: rgb(134, 51, 21);
    height: 3rem;
}

.item-2{
    background-color: rgb(114, 175, 15);
    height: 0.5rem;
}

.item-3{
    background-color:rgb(78, 19, 133);
    height: 4.5rem;
}

.item-4{
    background-color:rgb(10, 150, 91);
    height: 10rem;
}

.item-5{
    background-color:rgb(10, 59, 150);
    height: 6.5rem;
}

.item-6{
    background-color:rgb(150, 10, 96);
}

.item-7{
    background-color:rgb(150, 94, 10);
}

.item-8{
    background-color:rgb(4, 104, 44)
}

