*{
    margin: 0px;
}

h2{
    color:blue;
    text-decoration:underline;
    margin-bottom: 30px;
}

table{
    height: 80vh;
    width: 50vw;
    border: 5px solid #757c94;
    border-collapse: separate;
    padding: 15px;
    border-spacing: 4px;
    /* table-layout: auto; */
    table-layout: fixed;
}

th, td{
    padding: 15px;
    border: 2px solid #f1f1f1;
    text-align: left;
}

tr:hover:nth-child(2n){
    background-color:#5ca062;
}

caption{
    caption-side: bottom;
    color: rgb(41, 33, 112);
    font-weight: bolder;
    font-size: 18px;
}