/*  
    Selector{
        property_name: value;
        property_name: value;
    }
*/

h1{
    text-align: center;
    border-color: blue;
}

h2{
    text-align: center;
    border-color: cadetblue;
}

p{
    text-align: center;
    color: chartreuse;
}