h2{
    color:blue;
    text-align:center;
    text-decoration: underline;
}

.dotted-type{
    outline-style: dotted;
}

.dashed-type{
    outline-style: dashed;
}

.solid-type{
    outline-style: solid;
}

.double-type{
    outline-style: double;
}

.groove-type{
    outline-style: groove;
}

.ridge-type{
    outline-style: ridge;
}

.inset-type{
    outline-style: inset;
}

.outset-type{
    outline-style: outset;
}