/* input:autofill{
    color:darkolivegreen;
    border: 2px solid burlywood;
} */

/* :autofill pseudo class to work on chrome browser use :-webkit-autofill{} */
input:-webkit-autofill{
    border: 3px solid green;
}