/* :user-valid matches some pseudo-classes such as :invalid, :out-of-range, :required
    when interacting with the form element input field if user's does something wrong
    via providing invalid values as a input field value.
*/

input:optional{
    border: 3px solid red;
    color: green;
    border-width: 3px;
}

/*  use morzila firefox web browser to see the effect on this psuedo class, thus Chrome 
    doesn' support it.
*/
input:user-invalid{
    color: green;
    border: 4px solid slateblue;
}
