*{
    margin: 0px;
}

h2{
    color: blue;
    text-decoration: underline;
    margin-bottom: 30px;
}

.div-card1-translateX-property{
    width: 250px;
    height: 350px;
    background-color: chocolate;
    position:absolute;
    top: 25%;
    left: 30%;
    border-radius: 10px;
    transform: translateX(100px);
}

.div-card2-translateY-property{
    width: 250px;
    height: 350px;
    background-color:darkblue;
    position:absolute;
    top: 85%;
    left: 30%;
    border-radius: 10px;
    transform:translateY(150px);
}