*{
    margin: 0px;
}

h2{
    color: blue;
    text-decoration: underline;
    margin-bottom: 30px;
}

.div-card-scale-property{
    width: 250px;
    height: 350px;
    background-color: chocolate;
    position:absolute;
    top: 25%;
    left: 30%;
    border-radius: 10px;
    transform: scale(1.5, 1.5);
}