*{
    margin:0px;
}

h2{
    color: blue;
    text-decoration: underline;
    margin-bottom: 30px;
}

.parent-container, .child-container{
    width:150px;
    height:150px;
}

.parent-container{
    background-color: crimson;
    position: relative;
    top: calc(50vh - 75px);
    left:calc(50vw - 75px);
    transition: 1s;
}

.child-container{
    background-color:chocolate;
    transition: 1s;
}

.child-container:hover{
    transform: rotate(45deg);
    /* transform-origin: center center; */
    /* transform-origin: center top; */
    /* transform-origin: top left; */
    /* transform-origin: center 500px; */
    transform-origin: 200px 500px;
    -webkit-transform: rotate(45deg);
}