



body {
	background-image: url("book.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.form {
	width: 200px;
	background-color: white;
	padding: 40px;
	margin-top: 180px;
}

.input {
	padding: 15px;
	margin: 5px;
	border: none;
	outline: none;
	width: 90%;
}

.input:focus {
	background-color: #ddd;
}

.btn {
	margin: 7px;
    background-color: #0062E5;
    width: 100%;
    padding: 13px;
    color: white;
    border: none;
}