h2{
    color: blue;
    text-decoration: underline;
    margin-bottom:30px;
}

.background-image-property{
    width: 300px; 
    height: 300px;
    border:3px solid;
    /* If background image dimension is smaller than 
    the actual 'height' and 'width' property then image 
    will be repeated though by default 
    'background-repeat' property default value is 'repeat' */
    background-image: url(https://picsum.photos/200/200);
}