h2{
    color: blue;
    text-decoration: underline;
    margin-bottom:30px;
}


section{
    width:100vw;
    height:100vh;
}

p{
    width: 250px;
    height: 500px;
    color: #5b0b6b;
    background-image: url(https://picsum.photos/200/700);
    overflow:auto;
}

.background-attachment-section-1st{
    background-image: url(https://picsum.photos/1200/1200);
    /* background-attachment: scroll; */
    background-attachment: fixed;
}

.background-attachment-section-2nd{
    background-image: url(https://picsum.photos/1200/1500);
    background-attachment: fixed;
}
